body {
    background-image: url("../images/Hogwarts.jpg");
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 30px;
}
#characters {
    margin: 0 auto;
}
.characterButton {
    margin: 10px auto;
    border-radius: 5%;
}
.actionButton {
    margin: 10px auto;
    text-align: center;
    border-radius: 25%;
}
.buttonHeal {
    background-color: 	#32CD32;
    padding: 10px 40px;
    font-weight: bold;
}
.buttonAttack {
    background-color: 	#FF0000	;
    padding: 20px 60px;
    font-weight: bold;
}
.characterConfirm {
    background-color: 	#1E90FF;
    padding: 20px 60px;
    font-size: 80%;
    font-weight: bold;
}
#buttonYes {
    background-color: 	#32CD32;
    padding: 20px 60px;
    font-size: 80%;
    font-weight: bold;
}
#buttonNo {
    background-color: 	#FF0000;
    padding: 20px 60px;
    font-size: 80%;
    font-weight: bold;
}
.buttonShield {
    background-color: 	#1E90FF;
    padding: 10px 40px;
    font-weight: bold;
}
.houseHufflepuff {
    background-color: #F1F31C;
}
.houseSlytherin {
    background-color: #154C07;
}
.houseGryffindor {
    background-color: #941B08;
}
.houseRavenclaw {
    background-color: #071A80;
}
.houseDeathEater {
    background-color: #58286b;
}
.characterImage {
    width: 175px;
    height: 175px;
    border: 2px solid black;
}
#actionLog {
    border: 3px solid gainsboro;
    color: white;
    background-color: black;
    font-size: 20px;
}
.actionMessage {
    padding: 10px;
    margin: 0;
    color: white;
}
.characterHealth {
    width: 50%;
    text-align: center;
    margin: 5px auto;
    padding: 5px;
    border: 2px solid black;
    font-weight: bold;
}
.characterFullName {
    text-align: center;
    margin: 1px auto;
    padding: 1px;
    font-weight: bold;
}